In [1]:
import pandas as pd

df_turso = pd.read_csv('../data/csv-from-turso/products.csv', index_col='codigo')

df_gastos = pd.read_excel('../data/GASTOS-MANDRIL-06082025.xlsm', sheet_name='LISTA', header=0, index_col='CÃ³digo')
filter_valid_code = df_gastos.index.str.match(pat="^MI(\d{3})$", na=False)
df_gastos.drop(index=df_gastos[~filter_valid_code].index, inplace=True)

In [2]:
df_compare_prices = pd.concat([df_turso['precioVenta'], df_gastos['Precio Venta']], axis=1)
df_compare_prices.rename(columns={'Precio Venta': 'Precio Gastos', 'precioVenta': 'Precio Web' }, inplace=True)
equal_prices = (df_compare_prices['Precio Gastos'] == df_compare_prices['Precio Web'])
df_compare_prices.loc[~equal_prices]

       Precio Web  Precio Gastos
MI167        50.0            NaN
MI168        50.0            NaN
MI169        70.0            NaN
MI386        47.0           40.0
MI217         NaN           15.0
MI219         NaN           25.0
MI218         NaN           20.0