In [ ]:
import pandas as pd

df_lista = pd.read_excel(
	'../data/GASTOS-MANDRIL-06082025.xlsm',
	header=0,
	sheet_name='LISTA',
	index_col='Código',
)
df_ventas = pd.read_excel(
	'../data/GASTOS-MANDRIL-06082025.xlsm', header=1, sheet_name='VENTAS'
)

df_ventas.columns

Index(['Código', 'Producto', 'Precio Venta', 'Cant.', 'Total Venta', 'Fecha',
       'Medio', 'Comprobante', 'Nombre', 'RUC/DNI', 'Número', 'Observación',
       'Precio Compra', 'Suma compras', 'Ganancia', 'Garantia'],
      dtype='object')

## Indexes

In [5]:
df_ventas.iloc[4533]

Código                                              MI001
Producto         Adaptador Audio Optico Mini jack Toslink
Precio Venta                                         15.0
Cant.                                                 1.0
Total Venta                                          15.0
Fecha                                 2023-01-16 00:00:00
Medio                                       Mercado Libre
Comprobante                                           S/D
Nombre                                         Alex Lopez
RUC/DNI                                          42452749
Número                                                NaN
Observación                                           NaN
Precio Compra                                         6.5
Suma compras                                          6.5
Ganancia                                              8.5
Garantia                              2023-04-16 00:00:00
Name: 4533, dtype: object

In [ ]:
df_lista.loc[["MI098", "MI232"], ["Producto", "Precio Compra", "Precio Venta", "Stock"]]

,Producto,Precio Compra,Precio Venta,Stock
Código,,,,
MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,70.0,160.0,35.0
MI232,Convertidor HDMI a VGA MINI,13.0,25.0,11.0

In [ ]:
df_lista.set_index("Producto")

,r,Stock Alerta,Stock,Precio Compra,Porcentaje,Precio Venta,Total Venta,Total Ganancia,Capital
Producto,,,,,,,,,
Adaptador Audio Optico 90° Grados,1.0,NaN,2.0,11.0,0.818182,20.0,40,18.00,22.00
Adaptador Audio Optico Mini jack Toslink,9.0,NaN,25.0,6.5,0.538462,10.0,250,87.50,162.50
Adaptador Aviation M12 4 pines / AUDIO CONECTOR,15.0,NaN,20.0,23.0,0.956522,45.0,900,440.00,460.00
Adaptador Aviation M12 4 pines / AV - M12,43.0,NaN,27.0,6.0,1.500000,15.0,405,243.00,162.00
Adaptador Aviation M12 4 pines / M12 - AV,50.0,NaN,21.0,8.0,0.875000,15.0,315,147.00,168.00
...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,499710,225952.93,273757.07

## Filters

In [ ]:
filter_by_ruc = df_ventas["RUC/DNI"] == "20209805597"
df_ventas.loc[~filter_by_ruc, ["Código", "Producto", "Cant.", "Total Venta", "Fecha"]]

,Código,Producto,Cant.,Total Venta,Fecha
0,MI395,Compresor de aire 12v portátil incluye maletín...,1.0,150.0,2025-08-06
1,MI076,Cable Video AV 15 metros,1.0,45.0,2025-08-06
2,MI195,Adaptador Micrófono Audífono 3.5m Smartphone,1.0,10.0,2025-08-06
3,MI196,Adaptador Micrófono Audífono 3.5m PC,1.0,10.0,2025-08-06
4,MI060,Cable Audio RCA Jack 3.5mm hembra,1.0,15.0,2025-08-05
...,...,...,...,...,...
9470,MI055,Bateria 3.7v 50 mah AirPods,1.0,20.0,2021-01-03
9471,MI038,Adaptador USB a RS485 (Modulo),1.0,15.0,2021-01-03
9472,MI071,Cable Pigtail UFL RPSMA Hembra Drone,1.0,15.0,2021-01-02
9473,MI192,Destornillador Pentalobe 0.8mm-1.2mm (2 Unidades),1.0,15.0,2021-01-02
9474,MI192,Destornillador Pentalobe 0.8mm-1.2mm (2 Unidades),1.0,15.0,2021-01-01

In [ ]:
filter_by_name = df_ventas["Nombre"].str.contains("HELIX", na=False)
df_ventas.loc[
    filter_by_name, ["Código", "Producto", "Nombre", "Cant.", "Total Venta", "Fecha"]
]

,Código,Producto,Nombre,Cant.,Total Venta,Fecha
82,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,8.0,1280.0,2025-07-24
124,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,5.0,800.0,2025-07-17
288,MI078,Cable Video AV 6 metros,HELIX RENTING S.A.C.,6.0,120.0,2025-06-13
519,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,5.0,800.0,2025-05-08
520,MI076,Cable Video AV 15 metros,HELIX RENTING S.A.C.,2.0,90.0,2025-05-08
...,...,...,...,...,...,...
6276,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,8.0,1280.0,2022-04-26
6968,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,2.0,300.0,2022-01-20
6990,MI083,CAMARA AHD EXTERIOR 720P -TRASERA NTSC,HELIX RENTING S.A.C.,1.0,150.0,2022-01-17
6997,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,1.0,150.0,2022-01-14
7028,MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,HELIX RENTING S.A.C.,1.0,150.0,2022-01-11

In [ ]:
filter_by_name = df_ventas["Producto"].str.contains("4G", na=False)
df_ventas.loc[filter_by_name, "Producto"].unique()

array(['Mdvr Grabador 4G / GPS / ADAS / DSM 512GB',
       'Memoria Micro SD SanDisk 64GB C-10',
       'Router TP-Link Wifi 4G LTE  TL-MR6400 300mbps',
       'Mdvr Grabador 4G / GPS 512GB', 'Antena 4G Lte SMA Macho',
       'Mdvr Grabador 4G / GPS / RJ45 512GB',
       'Mdvr Grabador 4G / GPS 512GB 2TB',
       'Mdvr Grabador 4G / GPS / ADAS / DSM DOBLE SD 512GB ',
       'Mdvr Grabador 4G / GPS / ADAS / DSM 512GB - 8CH',
       'Mdvr Grabador 4G / GPS 256GB',
       'Mdvr Grabador 3G/4G GPS WIFI 512GB',
       'Mdvr Grabador 4G / GPS WIFI 256GB'], dtype=object)

## Update

In [ ]:
df_ventas["Medio"].unique()

array(['Falabella.com', 'WhatsApp', 'Mercado Libre', 'Ripley', 'Agora',
       'Tienda', 'Whatsapp', 'Facebook', 'Linio'], dtype=object)

In [ ]:
df_ventas["Medio"] = df_ventas["Medio"].replace(
    {"WhatsApp": "Whatsapp", "Tienda": "Whatsapp"}
)
df_ventas["Medio"].unique()

array(['Falabella.com', 'Whatsapp', 'Mercado Libre', 'Ripley', 'Agora',
       'Facebook', 'Linio'], dtype=object)

In [15]:
df_ventas.rename(columns={"Cant.": "Stock"}, inplace=False).head()

,Código,Producto,Precio Venta,Stock,Total Venta,Fecha,Medio,Comprobante,Nombre,RUC/DNI,Número,Observación,Precio Compra,Suma compras,Ganancia,Garantia
0,MI395,Compresor de aire 12v portátil incluye maletín...,150.0,1.0,150.0,2025-08-06,Falabella.com,S/D,\nRicardo Zamalloa,40988180,NaN,NaN,114.0,114.0,36.0,2025-11-04
1,MI076,Cable Video AV 15 metros,45.0,1.0,45.0,2025-08-06,WhatsApp,S/D,NaN,NaN,943 184 744,NaN,18.0,18.0,27.0,2025-11-04
2,MI195,Adaptador Micrófono Audífono 3.5m Smartphone,10.0,1.0,10.0,2025-08-06,Falabella.com,S/D,Jose Carlos Pavel Arellano,42940196,NaN,NaN,7.0,7.0,3.0,2025-11-04
3,MI196,Adaptador Micrófono Audífono 3.5m PC,10.0,1.0,10.0,2025-08-06,Falabella.com,S/D,Jose Carlos Pavel Arellano,42940196,NaN,NaN,7.0,7.0,3.0,2025-11-04
4,MI060,Cable Audio RCA Jack 3.5mm hembra,15.0,1.0,15.0,2025-08-05,Falabella.com,S/D,\nGiusseppe Contreras,47372998,NaN,NaN,7.0,7.0,8.0,2025-11-03

## Add / Remove

**Add** with pd.concat() or df.loc[]

In [ ]:
df_lista["Precio sin IGV"] = df_lista["Precio Venta"] / 1.18
df_lista.drop(
    columns=["r", "Stock Alerta", "Total Venta", "Total Ganancia", "Capital"]
).head()

,Producto,Stock,Precio Compra,Porcentaje,Precio Venta,Precio sin IGV
Código,,,,,,
MI301,Adaptador Audio Optico 90° Grados,2.0,11.0,0.818182,20.0,16.949153
MI001,Adaptador Audio Optico Mini jack Toslink,25.0,6.5,0.538462,10.0,8.474576
MI002,Adaptador Aviation M12 4 pines / AUDIO CONECTOR,20.0,23.0,0.956522,45.0,38.135593
MI003,Adaptador Aviation M12 4 pines / AV - M12,27.0,6.0,1.500000,15.0,12.711864
MI004,Adaptador Aviation M12 4 pines / M12 - AV,21.0,8.0,0.875000,15.0,12.711864

In [ ]:
filt_by_code = df_lista["Precio Venta"] > 10
df_lista.drop(index=df_lista[filt_by_code].index).head()

,Producto,r,Stock Alerta,Stock,Precio Compra,Porcentaje,Precio Venta,Total Venta,Total Ganancia,Capital,Precio sin IGV
Código,,,,,,,,,,,
MI001,Adaptador Audio Optico Mini jack Toslink,9.0,NaN,25.0,6.5,0.538462,10.0,250,87.5,162.5,8.474576
MI228,Adaptador BNC a Coaxial F,20.0,NaN,9.0,5.0,1.000000,10.0,90,45.0,45.0,8.474576
MI006,Adaptador BNC a RCA Hembra,66.0,NaN,60.0,1.0,9.000000,10.0,600,540.0,60.0,8.474576
MI225,Adaptador BNC a RCA Macho,2.0,NaN,19.0,5.0,1.000000,10.0,190,95.0,95.0,8.474576
MI229,Adaptador BNC a RG59,4.0,NaN,18.0,5.0,1.000000,10.0,180,90.0,90.0,8.474576

In [ ]:
filt_by_code = df_lista.index.str.match(pat="^MI(\d{3})$", na=False)
df_lista.drop(index=df_lista[~filt_by_code].index)

,Producto,r,Stock Alerta,Stock,Precio Compra,Porcentaje,Precio Venta,Total Venta,Total Ganancia,Capital,Precio sin IGV
Código,,,,,,,,,,,
MI301,Adaptador Audio Optico 90° Grados,1.0,NaN,2.0,11.0,0.818182,20.0,40,18.0,22.0,16.949153
MI001,Adaptador Audio Optico Mini jack Toslink,9.0,NaN,25.0,6.5,0.538462,10.0,250,87.5,162.5,8.474576
MI002,Adaptador Aviation M12 4 pines / AUDIO CONECTOR,15.0,NaN,20.0,23.0,0.956522,45.0,900,440.0,460.0,38.135593
MI003,Adaptador Aviation M12 4 pines / AV - M12,43.0,NaN,27.0,6.0,1.500000,15.0,405,243.0,162.0,12.711864
MI004,Adaptador Aviation M12 4 pines / M12 - AV,50.0,NaN,21.0,8.0,0.875000,15.0,315,147.0,168.0,12.711864
...,...,...,...,...,...,...,...,...,...,...,...
MI189,Transmisor Video Inalambrico Auto Camion,25.0,NaN,3.0,35.0,0.857143,65.0,195,90.0,105.0,55.084746
MI220,UNION CABLE OPTICO,NaN,NaN,36.0,8.0,0.250000,10.0,360,72.0,288.0,8.474576
MI209,Union RCA Hembra Lote x 5 unidades,NaN,NaN,-1.0,7.5,1.666667,20.0,-20,-12.5,-7.5,16.949153
MI213,Union RCA Macho Lote x 5 unidades,-1.0,NaN,2.0,7.5,1.666667,20.0,40,25.0,15.0,16.949153
MI191,Union RJ45,39.0,NaN,38.0,8.6,0.744186,15.0,570,243.2,326.8,12.711864

## Sorting

In [ ]:
df_lista_without_na = df_lista.drop(index=df_lista[~filt_by_code].index)
df_lista_without_na.drop(
    columns=["r", "Stock Alerta", "Total Venta", "Total Ganancia", "Capital"],
    inplace=True,
)
df_lista_without_na.sort_index(inplace=True)
df_lista_without_na.sort_values(
    by=["Porcentaje", "Precio Venta"], ascending=[False, True]
)

,Producto,Stock,Precio Compra,Porcentaje,Precio Venta,Precio sin IGV
Código,,,,,,
MI006,Adaptador BNC a RCA Hembra,60.0,1.0,9.000000,10.0,8.474576
MI029,Adaptador OTG USB Robot,31.0,1.0,9.000000,10.0,8.474576
MI210,Adaptador RS485 TTL MAX485 (Modulo),50.0,2.0,4.000000,10.0,8.474576
MI291,Anillo Led Ws2812 Rgb 16 Bit Para Raspberry DIY,8.0,6.0,4.000000,30.0,25.423729
MI133,Extension VGA por cable Red RJ45 (PAR) hembra,8.0,6.1,3.918033,30.0,25.423729
...,...,...,...,...,...,...
MI127,Convertidor USB TIPO C a VGA,7.0,40.0,0.000000,40.0,33.898305
MI124,Convertidor USB 3.0 a HDMI,10.0,50.0,0.000000,50.0,42.372881
MI101,Capturadora Video USB 2.0 HDMI,11.0,65.0,0.000000,65.0,55.084746
MI286,Tarjeta de Desarrollo STM32F411RE,1.0,NaN,NaN,140.0,118.644068
MI409,CAMARA AHD EXTERIOR 720P -TRASERA PAL,10.0,NaN,NaN,160.0,135.593220

In [ ]:
df_lista_without_na.nlargest(10, "Stock")

,Producto,Stock,Precio Compra,Porcentaje,Precio Venta,Precio sin IGV
Código,,,,,,
MI140,Medidor de cocadas Llantas,115.0,24.0,0.875000,45.0,38.135593
MI218,COSTO DE ENVIO PROVINCIA (CIUDAD PRINCIPAL),100.0,20.0,0.000000,20.0,16.949153
MI219,COSTO DE ENVIO PROVINCIA (CIUDAD ALEJADA),99.0,25.0,0.000000,25.0,21.186441
MI217,COSTO DE ENVIO LIMA (24-48 HORAS),97.0,15.0,0.000000,15.0,12.711864
MI078,Cable Video AV 6 metros,83.0,6.0,2.333333,20.0,16.949153
MI195,Adaptador Micrófono Audífono 3.5m Smartphone,76.0,7.0,0.428571,10.0,8.474576
MI072,Cable Pigtail UFL SMA Hembra,74.0,4.0,2.000000,12.0,10.169492
MI079,Calibrador Digital Vernier Pie de rey,74.0,32.0,0.562500,50.0,42.372881
MI034,Adaptador SMA a Coaxial F,72.0,7.5,0.733333,13.0,11.016949
MI161,Presentador Diapositiva PPT,72.0,27.0,0.481481,40.0,33.898305

## Group by

In [ ]:
df_lista["Precio Venta"].median()

np.float64(40.0)

In [ ]:
df_ventas["Medio"].value_counts(normalize=True)

Medio
WhatsApp         0.567704
Mercado Libre    0.187230
Falabella.com    0.120739
Ripley           0.046966
Linio            0.037045
Tienda           0.033668
Agora            0.004749
Facebook         0.001266
Whatsapp         0.000633
Name: proportion, dtype: float64

In [ ]:
sales_channel_group = df_ventas.groupby("Medio")
sales_channel_group["Código"].value_counts().loc["Linio"]

Código
MI236    32
MI060    20
MI237    15
MI292    15
MI113    14
         ..
MI254     1
MI264     1
MI270     1
MI286     1
MI309     1
Name: count, Length: 75, dtype: int64

In [ ]:
sales_channel_group["Total Venta"].agg(["median", "mean", "sum", "min", "max"])

               median        mean        sum   min      max
Medio
Agora            50.0  116.888889     5260.0  25.0    400.0
Facebook         35.0   59.166667      710.0  15.0    150.0
Falabella.com    30.0   63.125874    72216.0  10.0   1710.0
Linio            30.0   55.455840    19465.0   5.0   1140.0
Mercado Libre    30.0   57.597914   102178.7   5.0   2280.0
Ripley           35.0   58.559551    26059.0  10.0    900.0
Tienda           35.0  163.862069    52272.0   5.0  18000.0
WhatsApp        167.5  457.453142  2460183.0   0.0  21000.0
Whatsapp        685.0  858.333333     5150.0  15.0   1950.0

In [ ]:
total_sales_channel = df_ventas["Medio"].value_counts()
# .sum() se aplica a la Serie de tipo bool
total_sales_channel_by_name = sales_channel_group["Nombre"].apply(
    lambda x: x.str.contains("Das").sum()
)

total_sales_df = pd.concat(
    [total_sales_channel, total_sales_channel_by_name], axis="columns", sort=True
)
total_sales_df.rename(
    columns={"count": "Total per medium", "Nombre": "Total by name"}, inplace=True
)
total_sales_df["Total by name (%)"] = (
    total_sales_df["Total by name"] / total_sales_df["Total per medium"]
) * 100
total_sales_df.sort_values(by="Total by name (%)", ascending=False, inplace=True)

total_sales_df

               Total per medium  Total by name  Total by name (%)
Medio
Falabella.com              1144              1           0.087413
Agora                        45              0           0.000000
Facebook                     12              0           0.000000
Linio                       351              0           0.000000
Mercado Libre              1774              0           0.000000
Ripley                      445              0           0.000000
Tienda                      319              0           0.000000
WhatsApp                   5379              0           0.000000
Whatsapp                      6              0           0.000000

In [ ]:
ventas_code_group = df_ventas.groupby(["Código"])
products_by_company_group = df_ventas.groupby(["RUC/DNI", "Nombre"])

In [ ]:
products_by_company_group["Cant."].sum().sort_values(ascending=False).loc["20209805597"]

Nombre
COMERCIAL GIANTIN EIRL     94.0
COMERCIAL GIANTIN EIRL      3.0
Name: Cant., dtype: float64

## Clean Data

In [9]:
df_lista

,Producto,r,Stock Alerta,Stock,Precio Compra,Porcentaje,Precio Venta,Total Venta,Total Ganancia,Capital
Código,,,,,,,,,,
MI301,Adaptador Audio Optico 90° Grados,1.0,NaN,2.0,11.0,0.818182,20.0,40,18.00,22.00
MI001,Adaptador Audio Optico Mini jack Toslink,9.0,NaN,25.0,6.5,0.538462,10.0,250,87.50,162.50
MI002,Adaptador Aviation M12 4 pines / AUDIO CONECTOR,15.0,NaN,20.0,23.0,0.956522,45.0,900,440.00,460.00
MI003,Adaptador Aviation M12 4 pines / AV - M12,43.0,NaN,27.0,6.0,1.500000,15.0,405,243.00,162.00
MI004,Adaptador Aviation M12 4 pines / M12 - AV,50.0,NaN,21.0,8.0,0.875000,15.0,315,147.00,168.00
...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.00,0.00
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,499710,225952.93,273757.07

In [42]:
df_lista.dropna(axis=0, subset=["Stock Alerta"])

,Producto,r,Stock Alerta,Stock,Precio Compra,Porcentaje,Precio Venta,Total Venta,Total Ganancia,Capital
Código,,,,,,,,,,
MI056,Cable Aviator M12 4pin 10M,49.0,30.0,33.0,19.0,2.157895,60.0,1980,1353.0,627.0
MI057,Cable Aviator M12 4pin 20M,48.0,30.0,35.0,32.0,1.968750,95.0,3325,2205.0,1120.0
MI205,Cable Aviator M12 4pin 3M,36.0,30.0,47.0,10.0,1.500000,25.0,1175,705.0,470.0
MI059,Cable Aviator M12 4pin 5M,67.0,30.0,44.0,15.0,1.333333,35.0,1540,880.0,660.0
MI076,Cable Video AV 15 metros,51.0,30.0,45.0,18.0,1.500000,45.0,2025,1215.0,810.0
MI077,Cable Video AV 20 metros,9.0,30.0,50.0,24.0,1.291667,55.0,2750,1550.0,1200.0
MI078,Cable Video AV 6 metros,145.0,30.0,83.0,6.0,2.333333,20.0,1660,1162.0,498.0
MI097,CAMARA EXTERIOR AV 720P LATERAL NTSC,-2.0,20.0,12.0,92.0,0.739130,160.0,1920,816.0,1104.0
MI098,CAMARA EXTERIOR AV 720P TRASERA NTSC,30.0,30.0,35.0,70.0,1.285714,160.0,5600,3150.0,2450.0
MI099,CAMARA INTERIOR AV 720P DOMO NTSC,28.0,20.0,12.0,72.0,1.222222,160.0,1920,1056.0,864.0
MI147,Mini Camara Espia IP WIFI A9,8.0,15.0,7.0,115.0,0.565217,180.0,1260,455.0,805.0
MI155,"Pantalla 7"" DIVIDIDA 4 Camaras AV",13.0,20.0,3.0,265.0,0.886792,500.0,1500,705.0,795.0
MI203,"Pantalla 7"" AHD DVR 128GB 2 CANALES",6.0,20.0,54.0,263.0,0.901141,500.0,27000,12798.0,14202.0
MI156,"Pantalla 7"" AV",63.0,20.0,27.0,189.0,0.851852,350.0,9450,4347.0,5103.0
MI158,"Pantalla Auto 5"" Plegable",21.0,20.0,14.0,89.0,0.910112,170.0,2380,1134.0,1246.0
MI159,"Pantalla Auto 5"" Pulgadas",20.0,20.0,38.0,97.0,0.752577,170.0,6460,2774.0,3686.0

In [43]:
df_lista.dtypes

Producto           object
r                 float64
Stock Alerta      float64
Stock             float64
Precio Compra     float64
Porcentaje        float64
Precio Venta      float64
Total Venta         int64
Total Ganancia    float64
Capital           float64
dtype: object

# Dates

In [51]:
df_ventas.dtypes

Código                   object
Producto                 object
Precio Venta            float64
Cant.                   float64
Total Venta             float64
Fecha            datetime64[ns]
Medio                    object
Comprobante              object
Nombre                   object
RUC/DNI                  object
Número                   object
Observación              object
Precio Compra           float64
Suma compras            float64
Ganancia                float64
Garantia         datetime64[ns]
dtype: object

In [65]:
df_dates = df_ventas.set_index("Fecha")
df_dates["Total Venta"].resample("ME").sum()

Fecha
2021-01-31    17865.0
2021-02-28    19707.0
2021-03-31    31170.0
2021-04-30    38215.0
2021-05-31    26429.0
2021-06-30    34570.0
2021-07-31    37244.0
2021-08-31    59852.0
2021-09-30    78545.0
2021-10-31    52899.2
2021-11-30    82979.0
2021-12-31    73045.0
2022-01-31    70089.5
2022-02-28    61180.0
2022-03-31    59555.0
2022-04-30    42912.0
2022-05-31    67230.0
2022-06-30    58750.0
2022-07-31    33891.0
2022-08-31    78360.0
2022-09-30    76572.0
2022-10-31    62605.0
2022-11-30    46250.0
2022-12-31    27060.0
2023-01-31    66020.0
2023-02-28    59480.0
2023-03-31    41604.0
2023-04-30    73140.0
2023-05-31    54260.0
2023-06-30    51265.0
2023-07-31    42896.0
2023-08-31    44755.0
2023-09-30    42478.0
2023-10-31    37275.0
2023-11-30    36055.0
2023-12-31    38565.0
2024-01-31    33715.0
2024-02-29    30675.0
2024-03-31    37015.0
2024-04-30    41600.0
2024-05-31    39674.0
2024-06-30    33696.0
2024-07-31    55007.0
2024-08-31    81557.0
2024-09-30    36011.0
2024-10-31    33325.0
2024-11-30    77165.0
2024-12-31    38189.0
2025-01-31    54245.0
2025-02-28    41141.0
2025-03-31    52622.0
2025-04-30    28080.0
2025-05-31    92424.0
2025-06-30    48075.0
2025-07-31    44425.0
2025-08-31    20085.0
Freq: ME, Name: Total Venta, dtype: float64

In [69]:
df_dates[['Precio Venta', 'Cant.', 'Total Venta', 'Precio Compra']].resample('W').agg(
	{
		'Precio Venta': 'mean',
		'Cant.': 'max',
		'Total Venta': 'sum',
		'Precio Compra': 'min',
	}
)

            Precio Venta  Cant.  Total Venta  Precio Compra
Fecha
2021-01-03     16.000000    1.0         80.0            3.5
2021-01-10     56.666667    5.0       3270.0            4.0
2021-01-17     94.270833   43.0       6740.0            1.0
2021-01-24     61.785714   12.0       4270.0            3.5
2021-01-31     58.000000   12.0       3505.0            1.0
...                  ...    ...          ...            ...
2025-07-13    118.461538   10.0       6755.0            4.0
2025-07-20     98.600000   10.0      12915.0            4.0
2025-07-27    166.935484    8.0       6990.0            5.0
2025-08-03    174.489796   20.0      12285.0            3.0
2025-08-10    282.272727   26.0      16410.0            7.0

[241 rows x 4 columns]